@import url(https://rawgit.com/AltenGD/Altens-betterdiscord-Themes-Plugins/master/Themes/FGR.css);

:root {
  --imgNonBlurred: url(https://i.imgur.com/04GKOra.jpg);
  --imgBlurred: url(https://i.imgur.com/dgBOlGy.jpg);
  --Brightness: rgba(0,0,0,0.2);
  --SecondaryBrightness: rgba(0,0,0,0.4);
  --ThirdBrightness: rgba(0,0,0,0.6);
}

/* Additions: */

/* Modified game tab news tab fade color */
.paginationItem-3-MBTL:after {
    background: linear-gradient(270deg,transparent 0,rgba(114,137,218,0.25));}

/* Modified reactions list menu */
.theme-dark .reactors-Blmlhw {
    background-image: var(--imgNonBlurred);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.15);
}
.theme-dark .sidebar-1-SQro {
    background-image: var(--imgBlurred);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.05);
}

/* Modified quickswitcher: (Code by https://github.com/AlexFlipnote/Discord_Theme/blob/master/theme.css) */
.theme-dark div[class*="quickswitcher-"] {
    background-color: rgba(255, 255, 255,0.075);
    color: hsla(0,0%,100%,.8); }
  .theme-dark div[class*="quickswitcher-"] div[class*="resultFocused-"] {
    background-color: rgba(0, 0, 0, .25);
    color: hsla(0,0%,100%,.8); }
  .theme-dark div[class*="quickswitcher-"] input[class*="input-"] {
    background-color: rgba(0, 0, 0, .25);
    color: hsla(0,0%,100%,.8);
    box-shadow: 0; }

/* Blinking new messages bar: (Code by https://github.com/hallopiu/betterdiscord-dark-theme/blob/master/css/darkblue.css) */
@-webkit-keyframes unread {  
  0% { background-color: #faa61a; }
  50% { background-color: rgba(250,166,26,0.2); }
}

.chat .new-messages-bar, .newMessagesBar-mujexs {
    background-color: #faa61a;
    -webkit-animation: unread 2s ease-in-out infinite;
}
.chat .new-messages-bar:hover, .newMessagesBar-mujexs:hover {
    background-color: #faa61a;
}

/* Discord Store */
.home-2gmu2h {
    background-image: var(--imgNonBlurred);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 10000px var(--SecondaryBrightness);
}
.theme-dark input[class*="browseSearchInput-"],
.theme-dark input[class*="libraryFilterInput-"] {
    background-image: var(--imgBlurred);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.05);
}
.itemDescriptionContainer-1DOZz3 {
    background: linear-gradient(270deg,transparent 0,rgba(114,137,218,0.25));
}
.itemMediaContainer-1Y2LAK {
	background: linear-gradient(90deg,transparent 0,rgba(114,137,218,0.25));
}
.homeWrapper-3-Wh5T {
    background-image: var(--imgNonBlurred);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 10000px var(--SecondaryBrightness);
}
.description-1eVELi {
	background-image: var(--imgBlurred);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}