:root {
    --blurredimage: url(https://i.imgur.com/CRMHVXx.png);
    --nonblurredimage: url(http://bit.ly/2gPLxZ4);
}


.channels-3g2vYe {
    background-color: rgba(0,0,0,0);
}
.theme-dark .itemSubMenu-3ZgIw-{
    background-color: rgba(0, 0, 0, 0)
}.theme-dark .itemSubMenu-3ZgIw-:hover{
    background-color: rgba(0, 0, 0, .3)
}
.theme-dark .item-1XYaYf:hover {
    background: rgba(0, 0, 0, .3);
    color: #fff;
}
.headerPlaying-2Q7mBy {
    background: rgba(0, 0, 0, 0.32);
}
.container-RYiLUQ {
    background-color:  transparent;
}
 /* fix not having a background image anymore */
.layers-20RVFW, .layer-kosS71, .container-2OU7Cz, .typing-3eiiL_ {
  background: transparent !important;
}
/* optionally adjust background brightness (0: original image, 1: black) */
.layers-20RVFW {
  background: rgba(0,0,0, 0.3) !important;
}
.container-2OU7Cz {
    background-color:  rgba(0,0,0,0);
}
.theme-dark .layer, .theme-dark .layers {
    background: transparent;
}
.appMount-14L89u {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    background-color: #202225;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100vw;
    background: rgba(0,0,0,0.4);
}
.guilds-wrapper {
    background-color: transparent;
}
.theme-dark .chat form .typing {
    background-color: transparent;
}
.tooltip.tooltip-black {
    background-image: var(--blurredimage) !important; /*blurred image*/
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 2000px 2000px rgba(255, 255, 255, 0.2) !important;
}
.feed-jRZy6x {
    padding: 0 20px 20px;
    background-image: var(--nonblurredimage) !important;
    background-size: cover !important;
    background-position: center;
    box-shadow: inset 0 0 2000px 2000px rgba(0, 0,0, 0.3) !important;
    background-attachment: fixed;
    background-position-y: -114px;
}
.newsLink-SC025S:hover {
    background-color: rgba(24, 25, 28, 0.70);
}
.theme-dark .body-3ljq11, .theme-dark .footer-2wFs91 {
    background-color: rgba(0, 0, 0, .5);
    color: hsla(0,0%,100%,.8);
}
.theme-dark .quickMessage-OCo-Q0 {
    background-color: rgba(0, 0, 0, .3);
    color: hsla(0,0%,100%,.7);
}
.quickMessage-318jK- {
    -webkit-box-sizing: border-box;
    background: #fbfbfb;
    border: none !important;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    outline: none;
    padding: 8px 10px;
    resize: none;
    width: 100%;
}

.news-XQhS0- {
    background-color: rgba(32, 34, 37, 0.50);
    border-radius: 3px;
    margin-top: 20px;
}
.theme-dark .header-1qeJfQ {
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgb(32, 34, 37);
    background-size: 100 !important;
}
.theme-dark .card-2WxYqG {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(32,34,37,.6);
    color: #f6f6f7;
}
.article-2abys7 {
    -webkit-box-sizing: border-box;
    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    height: 300px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    background-image: var(--blurredimage) !important;
    background-size: 100 !important;
    box-shadow: inset 0 0 2000px 2000px rgba(255, 255, 255, 0.2) !important;
}
.theme-dark .header-1qeJfQ:hover {
    background-color: rgba(255,255,255,.25);
}
.theme-dark .members-1bid1J .member.popout-open, .theme-dark .members-1bid1J .member:hover{
    background-image: var(--blurredimage) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 2000px 2000px rgba(255, 255, 255, 0.05) !important;
}
.theme-dark .contextMenu-uoJTbz {
    background: rgba(0,0,0,0.3);
}
.membersGroup-3_dP5E::before {
    background-color: rgba(0, 0, 0, .3);
    width: 100px;
    height: 10px;
}
.messages-popout {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    flex: 1;
    padding: 13px 5px 7px 13px;
    background: none;
}
.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
    color: rgba(153,170,181,.5);
}
.theme-dark .chat form {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .chat>.content {
    background-color: transparent;
}
.theme-dark .chat {
    background-color: transparent;
}

.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: transparent;
}
.theme-dark .members-1bid1J {
    background-color: transparent;
}
.theme-dark .title-qAcLxz {
    background: transparent;
}
.theme-dark #friends {
    background-color: transparent;
}
.contentHoverText-2HGIY {
    background-image: var(--blurredimage) !important; /*blurred image*/
    background-size: cover !important;
    background-position: center;
	background-attachment: fixed;
}
.theme-dark .member-2FrNV0:hover .content-3JzEqq {
    background-image: var(--blurredimage) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 2000px 2000px rgba(255, 255, 255, 0.05) !important;
}
.theme-dark .messages-popout-wrap .messages-popout .message-group {
    background-color: rgba(54, 57, 62, 0);
    border-color: rgba(28, 36, 43, 0);
    background: none;
}
.theme-dark .headerNormal-3Vn9nT {
    background-color: rgba(0, 0, 0, 0.25) !important;
}
.userPopout-11hFKo {
    /* -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(32,34,37,.6); */
    border-radius: 5px;
    /* box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(32,34,37,.6); */
    overflow: hidden;
    width: 250px;
}
::-webkit-scrollbar{background:none!Important;border:none!Important}
::-webkit-scrollbar-button{background:none!Important;border:none!Important}
::-webkit-scrollbar-thumb{background:rgba(255,255,255,0.17)!Important;border:none!Important}
::-webkit-scrollbar-track{background:rgba(255,255,255,0.17)!Important;border:none!Important;border-radius:10px}
::-webkit-scrollbar-track-piece{background:none!Important;border:none!Important}
::-webkit-scrollbar-corner{background:none!Important;border:none!Important}
.theme-dark .headerBar-cxbhPD {
    background: transparent;
}
.contentSelectedText-3j5CXt {
    background-color: rgba(255, 255, 255, 0.1);
}

.bda-slist .bda-description {
    color: #b0b6b9;
    overflow-y: auto;
    max-height: 100px;
    padding: 5px 0;
    word-break: break-word;
    margin: 5px 10px;
}
.bda-slist .bda-header {
    color: #e6e6e7;
    font-weight: 700;
    font-size: 12px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 5px;
    margin: 0px 10px;
}
.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code {
    background: rgba(0, 0, 0, 0.25);
}
.theme-dark .message-group .comment .markup pre {
    background: transparent;
    border-color: transparent;
}
.theme-dark .inner-3if5cm {
    background-image: var(--blurredimage) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.15) !important;
}
.contentHoveredText-2HYGIY, .contentHoveredVoice-3qGNKh:active, .contentSelectedVoice-gTtYM9:active {
    background-image: var(--blurredimage) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.15) !important;
}
.uploadModal-2KN6Mm .footer-4pOKm8 .button {
    margin-left: 10px;
}
.uploadModal-2KN6Mm {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-filter: blur(0);
    -webkit-perspective: 1000;
    background-color: #7289da;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    filter: blur(0);
    flex-direction: column;
    min-height: 258px;
    perspective: 1000;
    width: 520px;
    background-image: var(--blurredimage) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.15) !important;
}
.backdrop-2ohBEd {
    background-image: var(--blurredimage) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 2000px 2000px rgba(255, 255, 255, .1) !important;
}
.uploadModal-2KN6Mm .footer-4pOKm8 {
    -ms-flex-direction: row;
    -ms-flex-pack: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: end;
    background-color: #5b6dae;
    border-radius: 0 0 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    background-image: var(--blurredimage) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.15) !important;
}
.theme-dark .body-3_tdh6 {
    background-image: var(--blurredimage) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(0, 0, 0, 0.1) !important;
}
.userPopout-11hFKo {
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
}
.topSectionNormal-2LlRG1 {
    background-image: var(--blurredimage) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(0, 0, 0, .5) !important;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view {
    background: transparent;
}
.theme-dark .inner-3if5cm {
    background-image: var(--blurredimage) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px hsla(218,5%,47%,.3) !important;
}
.bda-slist li {
    background: rgba(32,34,37,.6);
    border-radius: 5px;
    padding: 5px 7px;
    max-height: 175px;
    margin-bottom: 20px;
    overflow: hidden;
    background-image: var(--blurredimage) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
}
.backdrop-2ohBEd {
    opacity: 1;
    transform: translateZ(0px);
    background-image: var(--blurredimage) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 2000px 2000px rgba(255, 255, 255, .1) !important;
}
.guilds-wrapper .guilds .guild .guild-inner {
    background: #2f3136;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    background-image: var(--blurredimage) !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
}
.chat .avatar-large {
    -webkit-transition: opacity .2s ease;
    cursor: pointer;
    opacity: 1;
    transition: opacity 2s ease;
    left: 10px;
}
.mention-RlZ5F3 {
    background-color: rgba(240, 71, 71, 0.5);
}
.app {
    background-image: var(--nonblurredimage);
	background-size: cover !important;
    background-position: center !important;
}

/*Additions from an other theme: (Code by https://betterdocs.net/collections/themes/products/discord-theme) */
.theme-dark .message-group .embed {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0); }
  .theme-dark .message-group .embed .embed-content-inner {
    background-color: transparent; }
.theme-dark .message-group .comment .markup {
  color: rgba(255, 255, 255, 0.7) !important; }
  .theme-dark .message-group .comment .markup pre {
    background: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.1); }
    .theme-dark .message-group .comment .markup pre code {
      background: rgba(0, 0, 0, 0.1); }



div[class*="wrapperHoveredCollapsed-"] > svg {
  background: url("https://png.icons8.com/chevron-up/win8/26");
  background-size: contain;
  filter: invert(50%);
  height: 15px;
  left: 4px;
  position: absolute;
  top: 1px;
  transition: all .3s;
  transform: rotate(90deg);
  width: 15px; }

div[class*="wrapperHovered-"] > svg {
  background: url("https://png.icons8.com/chevron-up/win8/26");
  background-size: contain;
  filter: invert(50%);
  height: 15px;
  left: 4px;
  position: absolute;
  top: 1px;
  transition: all .3s;
  transform: rotate(180deg);
  width: 15px; }

div[class*="wrapperCollapsed-"] > svg {
  background: url("https://png.icons8.com/chevron-up/win8/26");
  background-size: contain;
  filter: invert(50%);
  height: 15px;
  left: 4px;
  position: absolute;
  top: 1px;
  transition: all .3s;
  transform: rotate(90deg);
  width: 15px; }

div[class*="wrapperDefault-"] > svg {
  background: url("https://png.icons8.com/chevron-up/win8/26");
  background-size: contain;
  filter: invert(50%);
  height: 15px;
  left: 4px;
  position: absolute;
  top: 1px;
  transition: all .3s;
  transform: rotate(180deg);
  width: 15px; }

div[class*="channels-"] div[class*="container-"] div[class*="cursorPointer-"] {
  padding-left: 23px; }
  div[class*="channels-"] div[class*="container-"] div[class*="cursorPointer-"] > svg > path {
    display: none; }

.theme-dark .channel-notices .channel-notice {
  background-color: var(--dark-highlight); }
  .theme-dark .channel-notices .channel-notice .message div {
    color: #fff; }
  .theme-dark .channel-notices .channel-notice .message button {
    background-color: var(--dark-primary); }


  .guilds-wrapper .guilds .friends-icon {
    background-image: url("https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_forum_white_24px.svg"); }
  .guilds-wrapper .guilds .guild .guild-inner {
    background: transparent !important; }

  .guilds-wrapper .guilds .friends-online {
    color: #ccc;
	font-size: 9px;
	margin: 7.5px -2.5px 2.5px;
	line-height: 20px;
	width: 55px;
	height: 20px;
	border-radius: 25px;
	overflow: hidden;
	background: rgba(0,0,0,0.3); }
	
/*Custom buttons in themes settings: (Code by https://betterdocs.net/collections/themes/products/material-discord) */
:root {
	--accent-color: #913fb5;
}



#bd-settingspane-container .bda-right {
	position: relative !important;
	width: 100px !important;
	height: 62px !important;
}

#bd-settingspane-container .bda-right button {
	position: absolute;
	right: -6px !important;
	bottom: 0 !important;
}

#bd-settingspane-container .bda-right .ui-switch-wrapper {
	position: absolute !important;
	width: 36px !important;
	height: 14px !important;
	top: 3px;
	right: 0;
	background: transparent !important;
}

#bd-settingspane-container .bda-right .ui-switch-wrapper .ui-switch,
#bd-settingspane-container .bda-right .ui-switch-wrapper .ui-switch:before,
#bd-settingspane-container .bda-right .ui-switch-wrapper .ui-switch:after {
	position: absolute;
	content: " ";
	transition: 200ms ease all;
}

#bd-settingspane-container .bda-right .ui-switch-wrapper .ui-switch {
	width: 100%;
	height: 100%;
	top: 0;
	background: transparent !important;
	border-radius: 7.5px;
	cursor: pointer;
}

#bd-settingspane-container .bda-right .ui-switch-wrapper .ui-switch:before {
	width: 100%;
	height: 100%;
	background: rgba(65,65,65,0.65);
	border-radius: 7.5px;
}

#bd-settingspane-container .bda-right .ui-switch-wrapper .ui-switch:after {
	width: 20px;
	height: 20px;
	top: -3px;
	background: #777;
	border-radius: 50%;
	transform: translateX(-1px);
}

#bd-settingspane-container .bda-right .ui-switch-wrapper input:checked + .ui-switch:before {
	background: #1a3c57;
}

#bd-settingspane-container .bda-right .ui-switch-wrapper input:checked + .ui-switch:after {
	background: var(--accent-color);
	transform: translateX(17px);
}

/*Custom guild member profile popout animation: (Code by https://betterdocs.net/collections/themes/products/discord-theme)*/
@-webkit-keyframes user-popout-anim {
  from {
    -moz-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }


div[class*="userPopout-"] {
  animation: user-popout-anim 350ms ease-in-out;
}

/* Blinking new messages bar: (Code by https://betterdocs.net/collections/themes/products/dark-blue) */
@-webkit-keyframes unread {  
  0% { background-color: #faa61a; }
  50% { background-color: rgba(250,166,26,0.2); }
}

.chat .new-messages-bar {
    background-color: #faa61a;
    margin-top: 10px;
    -webkit-animation: unread 2s ease-in-out infinite;
}

/* Centered role names in member list: (Code by https://betterdocs.net/collections/themes/products/dark-blue) */
.theme-dark .channel-members h2, .theme-dark .membersGroup-3_dP5E {
    color: #99aab5;
    text-align: center;
}

/* Modified search bar: (Code by https://betterdocs.net/collections/themes/products/discord-theme) */
.theme-dark .themed-popout, .search-popout, .theme-dark .theme-light .ui-calendar-picker .react-datepicker, .theme-light .ui-calendar-picker .react-datepicker,
.theme-dark .popout .messages-popout-wrap, .theme-dark .searchPopout-38pRYh {
    background-color: rgba(0, 0, 0, .5);
    color: hsla(0,0%,100%,.8);
}

/* Modified quickswitcher: (Code by https://betterdocs.net/collections/themes/products/discord-theme) */
.theme-dark div[class*="quickswitcher-"] {
    background-color: rgba(0, 0, 0, .25);
    color: hsla(0,0%,100%,.8); }
  .theme-dark div[class*="quickswitcher-"] div[class*="resultFocused-"] {
    background-color: rgba(0, 0, 0, .25);
    color: hsla(0,0%,100%,.8); }
  .theme-dark div[class*="quickswitcher-"] input[class*="input-"] {
    background-color: rgba(0, 0, 0, .25);
    color: hsla(0,0%,100%,.8);
    box-shadow: 0; }

/* Modified create DM menu: (Code by https://betterdocs.net/collections/themes/products/discord-theme and https://betterdocs.net/collections/themes/products/dark-blue)*/    
.themed-popout .header {
  background: rgba(0, 0, 0, .25) !important; }
.account, .theme-dark .private-channel-recipients-invite .friend {
    background: rgba(0, 0, 0, .25)
}
  
/* Modified hover friends color in friends table: (Code by https://betterdocs.net/collections/themes/products/dark-blue) */
 .theme-dark #friends .friends-table .friends-row:hover {
	background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.05);
	
}

/* Modified hover chats color in dm list: (Code by https://betterdocs.net/collections/themes/products/dark-blue) */
.private-channels .channel:hover,
.private-channels .channel.selected a, .private-channels .channel:hover a {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.15);
}

/* Modified update news: (Code by https://betterdocs.net/collections/themes/products/dark-blue) */
.theme-dark .header-3sp3cE, .theme-dark .separator-NBIcXB,
.theme-dark .modal-3HOjGZ, .notification-settings-modal.deprecated-settings-modal .settings-inner:first-child, .deprecated-settings-modal .settings-actions,
.theme-dark .footer-1PYmcw, .theme-dark .sidebar-32BRdp, .upload-modal .footer, .uploadModal-2KN6Mm .footer-4pOKm8 {
    background: rgba(0, 0, 0, .25)
}

/* Modified playing user profile: (Code by https://betterdocs.net/collections/themes/products/dark-blue) */
.topSectionPlaying-3jAH9b, .topSectionNormal-2LlRG1, .topSectionStreaming-3rIBIm, .topSectionSpotify-3744IX, .theme-dark .topSectionNormal-2LlRG1 {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.05);
}

/* Modified autocomplete list: (Code by https://betterdocs.net/collections/themes/products/dark-blue)*/
.theme-dark .channel-textarea-autocomplete-inner, .theme-dark .autocomplete-1TnWNR, .selectable-3iSmAf {
    background: rgba(0, 0, 0, .5)
}
.theme-dark .channel-textarea-autocomplete-inner ul li.active, .theme-dark .selectorSelected-2M0IGv {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.15);
}

/* Guild list blinking unread messages notification: (Code by https://betterdocs.net/collections/themes/products/dark-blue) */
.guilds-wrapper .guilds .guild.unread:before {
    background: #e0961c;
    -webkit-animation: unread 2s ease-in-out infinite;
    height: 40px;
    border-radius: 20px;
    margin-top: -20px;
}

/* Modified guild settings drop down menu: (Code by https://betterdocs.net/collections/themes/products/dark-blue) */
.popout-menu, .menu-3BZuDT {
    background-color: rgba(0, 0, 0, .5);
}
.popout-menu .popout-menu-separator, .separator-1hpa3S {
    border-bottom: 1px solid #1d232d;
}

/* Modified reactions list menu */
.theme-dark .reactors-2PjMP0 {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.15);
}
.theme-dark .sidebar-32BRdp {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.05);
}

/* Modified three dots menu in chat: (Code by https://betterdocs.net/collections/themes/products/dark-blue) */
.small-popout-box {
    -webkit-animation: line 10s ease-in-out infinite;
}
.small-popout-box {
    background-color: rgba(0, 0, 0, .35);
    border: 1px solid #101721;
}
.option-popout .btn-item:hover {
    background-color: rgba(0, 0, 0, .5);
    color: #fff; 
}
.option-popout .btn-item {
  color: #d8d8d8; 
 }


/* Modified hover over things in server settings: (Code by https://betterdocs.net/collections/themes/products/dark-blue) */
.theme-dark .card-11ynQk:before {
    background: linear-gradient(90deg, #1d232d 80%, #2e333d);
    border-color: #4c5361;
}

/* Modified create/join new server menu: (Code by https://betterdocs.net/collections/themes/products/discord-theme) */
:root {
  --dark-highlight: rgba(0, 0, 0, .3);
  --dark-primary: rgba(0, 0, 0, .3);
  --dark-secondary: rgba(0, 0, 0, .3); }



.create-guild-container, .create-guild-container.deprecated {
  animation: server-create-enter 500ms ease-in-out;
  -webkit-animation: server-create-enter 500ms ease-in-out;
  -ms-animation: server-create-enter 500ms ease-in-out;
  -moz-animation: server-create-enter 500ms ease-in-out;
  -o-animation: server-create-enter 500ms ease-in-out;
  background-color: var(--dark-highlight); }
  .create-guild-container .form.deprecated .form-inner, .create-guild-container.deprecated .form.deprecated .form-inner {
    background-color: transparent; }
  .create-guild-container.deprecated.create-or-join header, .create-guild-container .create-or-join header, .create-guild-container.deprecated.deprecated.create-or-join header, .create-guild-container.deprecated .create-or-join header {
    color: #fff;
    text-transform: none; }
  .create-guild-container.deprecated.create-or-join .actions .or, .create-guild-container .create-or-join .actions .or, .create-guild-container.deprecated.deprecated.create-or-join .actions .or, .create-guild-container.deprecated .create-or-join .actions .or {
    display: none; }
  .create-guild-container.deprecated.create-or-join .form-inner, .create-guild-container.deprecated.create-or-join .form, .create-guild-container .create-or-join .form-inner, .create-guild-container .create-or-join .form, .create-guild-container.deprecated.deprecated.create-or-join .form-inner, .create-guild-container.deprecated.deprecated.create-or-join .form, .create-guild-container.deprecated .create-or-join .form-inner, .create-guild-container.deprecated .create-or-join .form {
    background-color: var(--dark-highlight);
    border-radius: 10px; }
  .create-guild-container h5, .create-guild-container.deprecated h5 {
    color: #fff;
    text-transform: none; }
  .create-guild-container .action, .create-guild-container.deprecated .action {
    background: var(--dark-primary);
    box-shadow: 0; }
    .create-guild-container .action.join .action-icon, .create-guild-container.deprecated .action.join .action-icon {
      background: url("https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_plus_one_white_48px.svg") 50% no-repeat;
      background-size: 50%; }
    .create-guild-container .action.create .action-icon, .create-guild-container.deprecated .action.create .action-icon {
      background: url("https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_storage_white_48px.svg") 50% no-repeat;
      background-size: 50%; }
    .create-guild-container .action .action-body, .create-guild-container.deprecated .action .action-body {
      color: #fff; }
    .create-guild-container .action .action-header, .create-guild-container.deprecated .action .action-header {
      font-size: 1.5em;
      font-weight: bold;
      text-transform: none; }
  .create-guild-container .form .form-actions, .create-guild-container.deprecated .form .form-actions {
    background-color: var(--dark-secondary);
    border-top: 0; }
  .create-guild-container .form-actions .btn-default, .create-guild-container.deprecated .form-actions .btn-default {
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    background-color: #e74c3c;
    border-bottom: 2px solid transparent;
    color: #fff;
    padding: 10px 20px; }
    .create-guild-container .form-actions .btn-default:hover, .create-guild-container.deprecated .form-actions .btn-default:hover {
      background-color: #c0392b;
      font-weight: normal; }

.form .control-group input[type=email], .form .control-group input[type=number], .form .control-group input[type=password], .form .control-group input[type=text],
.form .control-group textarea {
    color: #fff !important;
    background-color: transparent; }

.avatar-uploader-inner {
  background-color: rgba(0, 0, 0, 0.01); }
  
  
/* Modified loading screen */
.container-2oOGIt {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.05);
}

/* Modified search popout/results menu: (Code by https://betterdocs.net/collections/themes/products/dark-blue) */
@-webkit-keyframes line {
  0% { border-color: #00b0f4; }
  33% { border-color: #00ff6f; }
  77% { border-color: #faa61a; }
}

.search-popout .option.selected, .theme-dark .option-1MvVr1.selected-_bTXUG {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.05);
}

.theme-dark .search-results-wrap {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.05);
}
.theme-dark .search-results-wrap .search-header {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.05);
}

.theme-dark .search-results-wrap .search-header .tab.selected, .theme-dark .search-results-wrap .search-header .tab:hover, .theme-dark .selected-2A0WXO {
    -webkit-animation: line 10s ease-in-out infinite;
}
.theme-dark .search-results-wrap .search-header .tab.selected, .theme-dark .search-results-wrap .search-header .tab:hover, .theme-dark .selected-2A0WXO {
    border-bottom: 2px solid #00b0f4;
}
.theme-dark .search-results-wrap .channel-separator .channel-name {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.05);
}
.theme-dark .search-results-wrap .search-result:before, .theme-dark .search-results-wrap .search-result:after {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.05);
}
.theme-dark .search-results-wrap .search-result .hit {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.1);
}


/* Adjusted right click on server or channel menu */
.theme-dark.contextMenu-uoJTbz {
    -webkit-animation: line 10s ease-in-out infinite;
}
.theme-dark.contextMenu-uoJTbz {
    background: rgba(0,0,0,0.65);
    border: 1px solid #101721;
}


/* Modified create instant invite menu: (Code by https://betterdocs.net/collections/themes/products/dark-blue) */
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-header header{
    color: #fff;
}

.checkbox, .radio {
    color: #fff;
}

.form .control-group .help-text, .wrapper-VSYYTS .instantInviteModal-5L33Qh .blurb-ArHxCz {
    color: #fff;
}

.form-deprecated .form-header, .form.deprecated .form-header, .form-deprecated .form-inner, .form.deprecated .form-inner {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.05);
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-actions, .wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .form-actions {
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.025);
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .checkbox .checkbox-inner span, .wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .checkbox .checkbox-inner span {
    border: 2px solid #676767;
}

.clipboardInputInner-oj8y-S {
    border: 1px solid #070f1b;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .clipboardInputInner-dxVheg input {
    color: #8fe0ff;
    background-image: var(--blurredimage);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.01);
}
.clipboardInputInner-oj8y-S button:first-of-type:before {
    background: transparent;
}
.clipboardInputInner-oj8y-S button {
    border-left: 3px solid #070f1b;
}
.wrapper-VSYYTS {
    background: transparent;
}

.wrapper-VSYYTS .instantInviteModal-5L33Qh .copy-2xFKb_ {
    background-color: #105f5f;
}


/* Modified select server region menu: (Code by https://betterdocs.net/collections/themes/products/discord-theme) */
div[class*="regionSelectModal-"] {
  background: rgba(0,0,0,0.3); }
  div[class*="regionSelectModal-"] div[class*="regionSelectModalHeader-"] {
    color: #fff;
    text-transform: none; }
  div[class*="regionSelectModal-"] div[class*="regionSelectModalOptions-"] div[class*="regionSelectModalOption-"] {
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    background-color: rgba(0,0,0,0.3);
    border: 2px solid #696969; }
    div[class*="regionSelectModal-"] div[class*="regionSelectModalOptions-"] div[class*="regionSelectModalOption-"]:hover {
      transition: all 200ms ease;
      -webkit-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
      -moz-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      border: 5px solid #27ae60; }