@import "https://discordtheme.alexflipnote.xyz/theme.css";

/* Custom search bar and chat bar underline: (Code by https://github.com/ivanivamar/Discord/blob/master/MinimalCord.theme.css)*/
.theme-dark .search .search-bar {
    border-bottom: 1px solid #3191D9;
}

div[class*="channelTextArea-"] {
    border-bottom: 1px solid #3191D9;
}

/* Custom buttons in themes settings: (Code by https://github.com/cosmicsalad/Discord-Themes-and-Plugins/blob/master/themes/DarkMatter/DarkMatter.theme.css)*/
:root {
	--main-color: rgba(37,172,232,1);
	--main-color-faded: rgba(37,172,232,0.2);
	--accent-color: rgba(29,101,134,1);
	--dark-color: #161921;

	/* Modal Background Color / Opacity */
	--short-gradient: linear-gradient(45deg, rgba(29,101,134,0.5), rgba(37,172,232,0.5));
	--short-gradient-faded: linear-gradient(45deg, rgba(29,101,134,0.1), rgba(37,172,232,0.1));
}

.bda-slist .bda-right .ui-switch-wrapper {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	width: 44px;
	height: 24px;
	display: block;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	border-radius: 50px;
	background: var(--accent-color);
}

.bda-slist .bda-right .ui-switch-wrapper .ui-switch-checkbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: background .15s ease-in-out,box-shadow .15s ease-in-out,border .15s ease-in-out;
}

.ui-switch-checkbox {
	background: blue;
}

.ui-switch-checkbox+.ui-switch {
	background: rgba(255,255,255,0.2);
}

.ui-switch-checkbox:checked+.ui-switch {
	background: var(--main-color);
	/*transform: translateX(20px);*/
}

.bda-slist .bda-right .ui-switch-wrapper .ui-switch {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    background: #f6f6f7;
    border-radius: 10px;
    transition: all .15s ease;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.1),0 3px 3px 0 rgba(0,0,0,.05);
}

/* Custom bar below the mute and deaf buttons giving credits to the Theme Dev AlexFlipnote: (Code by https://github.com/TakosThings/Metro-for-Discord/blob/master/dist/Metro_for_Discord.theme.css) */
[class^="channels-"]::after {
  content: "Discord Theme by AlexFlipnote";
  width: 100%;
  height: auto;
  padding: 2px 0px 2px;
  background: #191919;
  color: #FFF;
  font-size: 11px;
  text-align: center; } 

/* Blinking new messages bar: (Code by https://github.com/hallopiu/betterdiscord-dark-theme/blob/master/css/darkblue.css) */
@-webkit-keyframes unread {  
  0% { background-color: #faa61a; }
  50% { background-color: rgba(250,166,26,0.2); }
  100% { background-color: #faa61a; }
}

.chat .new-messages-bar, .newMessagesBar-mujexs {
    background-color: #faa61a;
    -webkit-animation: unread 2s ease-in-out infinite;
}
.chat .new-messages-bar:hover, .newMessagesBar-mujexs:hover {
    background-color: #faa61a;
}

/* Modified member list color */
.theme-dark div[class*="membersWrap-"] div[class*="members-"] {
  background-color: var(--dark-primary); }
.theme-dark div[class*="membersWrap-"] div[class*="content"] {
  background-color: var(--dark-primary); }